* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-body {
  font-family: "Arial", sans-serif;
  background: url('./bg.png') no-repeat center center fixed;
  background-size: cover;
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  border-radius: 10px;
  width: 80vw;
  height: 80vh;
  overflow: hidden;
}

.page-header {
  margin-bottom: 100px;
  text-align: center;
}

.page-header h1 {
  font-size: 3.5rem;
  color: #d9d9d9;
  margin-bottom: 10px;
}

.header-highlight {
  color: #9147ff;
  font-size: 3.5rem;
}

.page-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.page-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 290px;
  padding-bottom: 180px;
}

.page-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-set {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.input-set input {
  padding: 12px;
  font-size: 1.1rem;
  height: 70px;
  background-color: #fff;
  color: #333;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.input-set input:focus {
  outline: none;
  border-color: #752dcc;
  box-shadow: 0 2px 4px rgba(117, 45, 204, 0.3);
}

#username,
#email,
#confirm-email,
#password,
#confirm-password {
  width: 500px;
}

.submit-btn {
  display: inline-block;
  padding: 15px 40px;
  background-color: #9147ff;
  color: #d9d9d9;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-top: 100px;
}

.submit-btn:hover {
  background-color: #752dcc;
}

.profile-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 50%;
  border: 10px solid #9147ff;
}

.upload-label {
  background-color: #9147ff;
  color: #d9d9d9;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: #752dcc;
}

.upload-input {
  display: none;
}
